.App {
  text-align: center;
  width: 100%;
  background-color: #141414; 
  color: #fff; 
}

.section-container {
  padding-top: 80px; 
}

.section {
  padding: 100px 0; 
  min-height: 100vh; 
  display: flex;
  justify-content: center;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  background-color: #141414; 
  border-bottom: 1px solid #e50914; 
}

.navbar-fixed .nav-link {
  color: #fff !important;
  font-size: 1.2em;
}

.typing-effect h1 {
  color: #e50914; 
}

h1, h2, h3, h4, h5, h6 {
  color: #e50914; 
}

p {
  color: #fff;
  font-size: 1.2em;
  margin: 0 15%;
}

.card {
  background-color: #333;
  color: #fff;
  border: none;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-section {
    text-align: center;
    padding:100px;
    width: 300px;
    height: 300px;
    display: grid;
    justify-content:center ;
}

