.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #141414; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color: #fff; 
    text-align: center; 
}

.contact-form h1 {
    color: #e50914; 
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
    border: none;
    border-radius: 5px;
    background-color: #333; 
    color: #fff;
}
.contact-form textarea {
    height: 100px; 
}

.contact-form button {
    padding: 10px 20px;
    background-color: #e50914; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #b40712; 
}
